{{ partial "header.html" . }}

    <!-- Content -->
      <div id="content">
        <div class="inner">

          <!-- Post -->
          <article class="box post post-excerpt">
            <header>
              <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
              <p>
              Word Count: {{ .WordCount }}, Reading Time: {{ .ReadingTime }}
              minutes
              </p>
            </header>
            <div class="info-iso">
              <span class="date-iso">
                {{ .Date.Format "2006-01-02" }}
              </span>
            </div>
            <p>
              {{ .Content }}
            </p>
          {{ . | printf "%v" }} 
          {{ partial "sharethis.html" . }}
          {{ partial "disqus.html" . }}
          </article>

        </div>
      </div>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
