{{ partial "header.html" . }}

    <!-- Content -->
      <div id="post-content">
        <div class="inner">

          <!-- Post -->
          <article class="box post">
            <header>
              <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
              <p>
              Date: {{ .Date.Format "2006-01-02" }},
              Word Count: {{ .WordCount }}, Reading Time: {{ .ReadingTime }}
              minutes
              </p>
            </header>
            {{ .Content }}
            {{ partial "sharethis.html" . }}
            {{ partial "disqus.html" . }}
          </article>

        </div>
      </div>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
