{{ partial "header.html" . }}

  {{ $max_pages := .Site.Params.maxPagination | default 10 }}
  {{ if .Site.Params.orderByPublishDate }}
    {{ $paginator := .Paginate (first $max_pages (where .Data.Pages.ByPublishDate.Reverse "Type" "post")) }}
  {{ else }}
    {{ $paginator := .Paginate (first $max_pages (where .Data.Pages "Type" "post")) }}
  {{ end }}

  <!-- Content -->
    <div id="post-content">
      <div class="inner">

        <!-- Post -->
        {{ range .Paginator.Pages }}
          <article class="box post post-excerpt">
            <header>
              <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
              <p>
              Word Count: {{ .WordCount }} &middot;
              Reading Time: {{ .ReadingTime }}
              {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }}
              </p>
            </header>
            <div class="info">
              <span class="date">
                {{ .Date.Format "2006-01-02" }}
              </span>
            </div>
            <p>
              {{ .Summary }}
              {{ if .Truncated }}
              <div class="read-more-link">
                <a href="{{ .RelPermalink }}">Read More…</a>
              </div>
              {{ end }}
            </p>
          </article>
        {{ end }}

        {{ partial "pagination.html" . }}

      </div>
    </div>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
