{{ partial "header.html" . }}

<div id="post-content">
  <div class="inner">

    <article class="box post post-excerpt">
      <header>
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <p>
        Word Count: {{ .WordCount }}, Reading Time: {{ .ReadingTime }}
        {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }}
        </p>
      </header>
      <div class="info">
        <span class="date">
          {{ .Date.Format "2006-01-02" }}
        </span>
      </div>
      <p>
        {{ .Summary }}
        {{ if .Truncated }}
        <div class="read-more-link">
          <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{ end }}
      </p>
    </article>

  </div>
</div>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
