<div id="sidebar">

  <h1 id="logo">
    <a href="{{ .Site.Params.sidebar.logo.target | default "/" }}">
      {{ .Site.Params.sidebar.logo.title | default "Home" }}
    </a>
  </h1>

  {{ $show_categories := .Site.Params.sidebar.categories | default 5 }}
  {{ $show_posts := .Site.Params.sidebar.recentPosts | default 5 }}
  {{ $show_updates := .Site.Params.sidebar.recentUpdates | default 5 }}
  {{ $show_tags := .Site.Params.sidebar.tags | default 5 }}
  {{ $changes := .Site.Pages.ByDate.Reverse }}
  {{ $about_enable := .Site.Params.sidebar.about | default true }}
  {{ $contact_enable := .Site.Params.sidebar.contact | default true }}
  {{ $about_title := .Site.Params.sidebar.about | default "About" }}
  {{ $contact_title := .Site.Params.sidebar.contact | default "Contact" }}

  {{ if and $about_enable $contact_enable }}
  <nav id="nav">
    <ul>
      {{ if $about_enable }}
      <li><a href="/about">{{ $about_title }}</a></li>
      {{ end }}
      {{ if $contact_enable }}
      <li><a href="/contact">{{ $contact_title }}</a></li>
      {{ end }}
  </nav>
  {{ end }}

  <nav id="nav">
    <ul>
      {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      {{ if in (slice "categories" "tags") $taxonomyname }}
      <!-- "if not in" does not seem to work -->
      {{else}}
      <li>
      <a href="{{ $taxonomyname | relURL }}">{{ humanize $taxonomyname }}</a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </nav>

  {{ if $.Site.Params.search.google.cx }}
  <section class="box search">
    <form id="cse-search-box" action="http://google.com/cse">
      <input type="hidden" name="cx"
        value="{{ .Site.Params.search.google.cx }}" />
      <input type="hidden" name="ie" value="UTF-8" />
      <input class="text" type="text" name="q" placeholder="Search" />
    </form>
  </section>
  {{ end }}

  <nav id="nav">
    <header>
      <h2>Categories</h2>
    </header>
    <ul>
      {{ range .Site.Taxonomies.categories.Alphabetical }}
      <li>
        <a href="/categories/{{ .Name | urlize }}">{{ .Name | humanize }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>

  {{ if gt $show_updates 0 }}
  <nav id="nav">
    <header>
      <h2>Recent Updates</h2>
    </header>
    <ul>
      {{ range first $show_updates (where $changes "Type" "!=" "post") }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}

  {{ if gt $show_posts 0 }}
  <nav id="nav">
    <header>
      <h2>Recent Posts</h2>
    </header>
    <ul>
      {{ range first $show_posts (where $changes "Type" "post") }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}

  {{ if gt $show_tags 0 }}
  <nav id="nav">
    <header>
    <h2>Tags</h2>
    </header>
    <ul>
      {{ range first $show_tags .Site.Taxonomies.tags.ByCount }}
      <li><a href="/tags/{{ .Name | urlize }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}

  <ul id="copyright">
    <li>
      &copy; {{ .Site.Copyright | default "Unattributed" }}
    </li>
    <li>
      Design: <a href="http://html5up.net">HTML5 UP</a>
    </li>
  </ul>

</div>
