{{ partial "header.html" . }}

  {{ $show_posts := .Site.Params.posts.excerpt.perPage | default 10 }}
  {{ $recent_posts := .Data.Pages.ByDate.Reverse }}

  <!-- Content -->
  <div id="post-content">
    <div class="inner">
      <article class="box post">
        <header>
          <h2>
            While looking for something intellectually stimulating, you
            stumbled upon a void (404, page not found).
          </h2>
          <p>
            Here's something to fill it with, before you continue your
            search:
          </p>
        </header>
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/7bUVjJWA6Vw"
          frameborder="0" allowfullscreen>
        </iframe>
      </article>
    </div>
  </div>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
